.mat-column-nIdLicencia {
    flex: 0 0 5%;
    text-align: left;
    justify-content: left;
    padding: 15px;
  }
  .mat-column-sLicencia {   
    flex: 0 0 25%;
    text-align: center;
    justify-content: center;
    padding: 8px;
  }
  .mat-column-sNombre {
    flex: 0 0 55%;
    text-align: center;
    justify-content: center;
    padding: 8px;
  }
  
  .mat-column-acciones {
    flex: 0 0 15%;
    text-align: center;
    justify-content: center;
    padding: 8px;
  }