<div class="timeline-item">

  <div class="animated-background">

    <div class="fila fila-1">
      <div class="mask columna-1"></div>
<!--      <div class="mask columna-2"></div>-->
<!--      <div class="mask columna-3"></div>-->
<!--      <div class="mask columna-4"></div>-->
<!--      <div class="mask columna-5"></div>-->
    </div>
    <div class="mask fila-spacing-1-before"></div>
    <div class="mask fila-spacing-1-after"></div>

    <div class="fila fila-2">
      <div class="mask columna-1"></div>
<!--      <div class="mask columna-2"></div>-->
<!--      <div class="mask columna-3"></div>-->
<!--      <div class="mask columna-4"></div>-->
<!--      <div class="mask columna-5"></div>-->
    </div>
    <div class="mask fila-spacing-2-before"></div>
    <div class="mask fila-spacing-2-after"></div>

    <div class="fila fila-3">
      <div class="mask columna-1"></div>
<!--      <div class="mask columna-2"></div>-->
<!--      <div class="mask columna-3"></div>-->
<!--      <div class="mask columna-4"></div>-->
<!--      <div class="mask columna-5"></div>-->
    </div>
    <div class="mask fila-spacing-3-before"></div>
    <div class="mask fila-spacing-3-after"></div>

    <div class="fila fila-4">
      <div class="mask columna-1"></div>
<!--      <div class="mask columna-2"></div>-->
<!--      <div class="mask columna-3"></div>-->
<!--      <div class="mask columna-4"></div>-->
<!--      <div class="mask columna-5"></div>-->
    </div>
    <div class="mask fila-spacing-4-before"></div>
    <div class="mask fila-spacing-4-after"></div>

    <div class="fila fila-5">
      <div class="mask columna-1"></div>
<!--      <div class="mask columna-2"></div>-->
<!--      <div class="mask columna-3"></div>-->
<!--      <div class="mask columna-4"></div>-->
<!--      <div class="mask columna-5"></div>-->
    </div>
    <div class="mask fila-spacing-5-before"></div>
    <div class="mask fila-spacing-5-after"></div>

<!--    <div class="mask header-left"></div>-->
<!--    <div class="mask header-right"></div>-->
<!--    <div class="mask header-bottom"></div>-->
<!--    <div class="mask subheader-left"></div>-->
<!--    <div class="mask subheader-right"></div>-->
<!--    <div class="mask subheader-bottom"></div>-->
<!--    <div class="mask content-top"></div>-->
<!--    <div class="mask content-first-end"></div>-->
<!--    <div class="mask content-second-line"></div>-->
<!--    <div class="mask content-second-end"></div>-->
<!--    <div class="mask content-third-line"></div>-->
<!--    <div class="mask content-third-end"></div>-->

  </div>

</div>
