.mat-toolbar.mat-warn {
  background: #e91e63!important;
  color: white;
}

button:focus {
 outline: 0px;
 outline: 0px;
}

.mat-card-content {
  display: block !important
}

.mat-card>.mat-card-actions:last-child {
  padding: 0px;
  margin-bottom: 0px;
}
