.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .titulo{
    font-size: 50px;
    font-weight: bolder;
    color: white;
    -webkit-text-stroke: 1px #050000;
    position: absolute;
    right: 300px;
    width: 300px;
    margin-right: 2em;
    padding: 10px;
  }
  
  mat-drawer {
  background: #0094bf;
  width: 20%;
  }
  
  .logo{
    margin: auto;
  
  }
  
  .mat-drawer-container {
    position: inherit;
  }
  