.authority {
  background-color: #ff5252;
  color: white;
  border-radius: 5px;
  padding: 15px;
  //padding: 15px 15px 15px 5rem;
}
.authority p {
  margin: 0;
}
.authority .mat-icon {
  position: absolute;
  font-size: 3.5rem;
  left: 1.8rem;
}
